{% extends "basic/layout.html" %}
{% set css_files = ['_static/a.mphibio.us.css'] + css_files %}
{% set script_files = script_files + ['_static/a.mphibio.us.js'] %}

{# Sidebar: Rework into fixed-top-nav section. #}
{% macro navBar() %}
  <div id="navbar" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container fluid">
        <a class="brand" href="{{ pathto(master_doc) }}"><b>Lasso</b>Guide</a>
        <span class="navbar-text pull-left"><b>{{ release|e }}</b></span>
          <ul class="nav">
            <li class="divider-vertical"></li>
            {% block sidebartoc %}
              {% include "globaltoc.html" %}
              {% include "localtoc.html" %}
            {% endblock %}
            <li class="divider-vertical"></li>
            {% block sidebarrel %}
              {% include "relations.html" %}
            {% endblock %}
            <li class="divider-vertical"></li>
          </ul>

          {% block sidebarsourcelink %}
          	{% include "sourcelink.html" %}
          {% endblock %}

          {% block sidebarsearch %}
            {% include "searchbox.html" %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{%- block linktags %}
<link rel="canonical" href="{{ 'http://lassoguide.com/' + pagename + file_suffix }}" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="_static/img/touch/apple-touch-icon-144x144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="_static/img/touch/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="_static/img/touch/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="_static/img/touch/apple-touch-icon-57x57-precomposed.png">
<link rel="apple-touch-icon" href="_static/img/touch/apple-touch-icon.png">

<!-- iPhone SPLASHSCREEN-->
<link href="_static/img/startup/startup.png" media="(device-width: 320px)" rel="apple-touch-startup-image">
<!-- iPhone (Retina) SPLASHSCREEN-->
<link href="_static/img/startup/startup-retina.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
<!-- iPad (portrait) SPLASHSCREEN-->
<link href="_static/img/startup/startup-tablet-portrait.png" media="(device-width: 768px) and (orientation: portrait)" rel="apple-touch-startup-image">
<!-- iPad (landscape) SPLASHSCREEN-->
<link href="_static/img/startup/startup-tablet-landscape.png" media="(device-width: 768px) and (orientation: landscape)" rel="apple-touch-startup-image">
<!-- iPad (Retina, portrait) SPLASHSCREEN-->
<link href="_static/img/startup/startup-tablet-portrait-retina.png" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
<!-- iPad (Retina, landscape) SPLASHSCREEN-->
<link href="_static/img/startup/startup-tablet-landscape-retina.png" media="(device-width: 2056px)  and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
{% endblock %}


{%- block extrahead %}
<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="_static/img/touch/apple-touch-icon-144x144-precomposed.png">
<meta name="msapplication-TileColor" content="#000000">

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1, , maximum-scale=1.0, user-scalable=no">
<meta http-equiv="cleartype" content="on">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="LassoGuide">
<!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
<script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>

<!--// Added test comment to trigger changes //-->
<script type="text/javascript">
(function () {
  /**
   * Patch TOC list.
   *
   * Will mutate the underlying span to have a correct ul for nav.
   *
   * @param $span: Span containing nested UL's to mutate.
   * @param minLevel: Starting level for nested lists. (1: global, 2: local).
   */
  var patchToc = function ($ul, minLevel) {
    var findA;

    // Find all a "internal" tags, traversing recursively.
    findA = function ($elem, level) {
      var level = level || 0,
        $items = $elem.find("> li > a.internal, > ul, > li > ul");

      // Iterate everything in order.
      $items.each(function (index, item) {
        var $item = $(item),
          tag = item.tagName.toLowerCase(),
          pad = 15 + ((level - minLevel) * 10);

        if (tag === 'a' && level >= minLevel) {
          // Add to existing padding.
          $item.css('padding-left', pad + "px");
          console.log(level, $item, 'padding-left', pad + "px");
        } else if (tag === 'ul') {
          // Recurse.
          findA($item, level + 1);
        }
      });
    };

    findA($ul);
  };

  $(document).ready(function () {
  	// Remove padding from search page if($('#search-documentation').text().length > 0) {$('#navbar').css('top','-55px');$('#maincontent').css('margin-top','-40px');}
    // Add styling, structure to TOC's.
    $(".dropdown-menu").each(function () {
      $(this).find("ul").each(function (index, item){
        var $item = $(item);
        $item.addClass('unstyled');
      });
      $(this).find("li").each(function () {
        $(this).parent().append(this);
      });
    });

    // Patch in level.
    patchToc($("ul.globaltoc"), 3);
    patchToc($("ul.localtoc"), 3);

    // Enable dropdown.
    $('.dropdown-toggle').dropdown();
  });
}());
</script>
{% endblock %}

{% block header %}{{ navBar() }}{% endblock %}

{# Silence the sidebar's, relbar's #}
{% block sidebar1 %}{% endblock %}
{% block sidebar2 %}{% endblock %}
{% block relbar1 %}{% endblock %}
{% block relbar2 %}{% endblock %}

{%- block content %}
<span id="amp_fb" class="a"></span>
<div id="maincontent" class="container fluid">
   {% block body %} {% endblock %}
</div>
{%- endblock %}

{%- block footer %}
<footer class="footer">
  <div class="container fluid">
   <a class="r" href="#maincontent" class="r"><span class="icon to_top"></span></a>
    <p class="small">Documentation for the <a href="http://www.lassosoft.com/">Lasso Programming Language</a>
    {%- if show_copyright %}
      {%- if hasdoc('copyright') %}
        {% trans path=pathto('copyright'), copyright=copyright|e %}&copy; <a href="{{ path }}">{{ copyright }}</a> {% endtrans %}
      {%- else %}
        {% trans copyright=copyright|e %}&copy; {{ copyright }}{% endtrans %}
      {%- endif %}
    {%- endif %}
    {%- if last_updated %}
      | {% trans last_updated=last_updated|e %}Last updated on {{ last_updated }}{% endtrans %}
    {%- endif %}
    {%- if show_sphinx %}
      | {% trans sphinx_version=sphinx_version|e %}Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> {{ sphinx_version }}{% endtrans %}
    {%- endif %}
    </p>
  </div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-1127567-8', 'lassoguide.com');
  ga('send', 'pageview');
</script>
{%- endblock %}
