/*
* A.mphibio.us  V1.0
* Copyright 2012, @cliveMoore
* http://a.mphibio.us
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 10/22/2012
*
/*!
* Using Bootstrap.js for menu activation by @fat & @mdo
* Copyright 2012 Twitter, Inc.
* http://www.apache.org/licenses/LICENSE-2.0.txt
*/

/* Reset (kudos Eric Meyer)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
{margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; }
body {line-height: 1;}
ol, ul {list-style: none; }
blockquote, q {quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none; }
table {border-collapse: collapse;border-spacing: 0; }

/* HTML5 (kudos Paul Irish and the h5bp.com team	
================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* Base Styles & Typography
================================================== */
body {
	background: #fefefe url(img/brillant.png) left top repeat;
	font-family: source_sans_pro, "Lucida Grande", "Lucida Sans", Lucida, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 86.5%; 
	line-height: 1.3; /* For the most device agnostic renderings leave units out of line height */
	color: #141414;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
.container {font-size: 1.1em;}
/* Using proportional font sizes for proper cascade
================================================== */
h1, h2, h3, h4, h5, h6 {
	color: #181818;
	font-family: source_sans_pro, "Lucida Grande", "Lucida Sans", Lucida, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;margin-bottom: .3em;  }
h1{color: #959595;}
h1 strong {font-weight: bold;color: #1b378c;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 2.6em;}
h2 { font-size: 2em;}
h3 { font-size: 1.6em; }
h4 { font-size: 1.3em;}
h5, .intro { font-size: 1.2em;}
h6 { font-size: 1em;font-weight: bold; }
.subheader { color: #777; }

p { margin: 0 0 1.3em 0; }
p img, img { margin: 0; }
p.lead { font-size: 1.5em; line-height: 1.6em; color: #777;  }

abbr[title] { border-bottom: 1px dotted;cursor: pointer; }
dfn { font-style: italic; }
em, i { font-style: italic; }
strong, b { font-weight: bold; }
small, .small { font-size: .865em; }
sub, sup { font-size: .675em; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { text-wrap: wrap; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; background: #e6f6fb; }
code { display: block; padding: 0.5em 1em; border: 1px solid #81aed1; font-family: "Courier New", Courier, Monaco, monospace; }

code,pre,tt.literal{padding:0 3px 2px;font-size:12px;color:#333;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
code{padding:2px 4px;color:#d14;background-color:#f7f7f9;border:1px solid #e1e1e8}

pre{display:block;padding:1px 8px;margin:0 0 9px;font-size:12.025px;line-height:1.6;word-break:break-all;word-wrap:break-word;white-space:pre;white-space:pre-wrap;background:#f4fbfd url(highlight_bg.png) left top repeat; ;border:1px solid #e6f6fb;border:1px solid rgba(0,204,255,0.625);}
.pre {white-space: nowrap;}

pre.prettyprint{margin-bottom:18px}
pre code{padding:0;color:inherit;background-color:transparent;border:0}
.pre-scrollable{max-height:340px;overflow-y:scroll}

/*	Blockquotes  */
blockquote, blockquote p { font-size: 1.1em; font-style: italic; }
blockquote { margin: 0 0 1.6em; padding: .6em 1.6em 0 1.3em;}
blockquote .author {font-size: 1em;}
blockquote cite { display: block; font-size: .865em; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

hr { border: solid #ececec; border-width: 1px 0 0; clear: both; margin: 1em 0 2em; height: 0; }

code,pre,tt { font-family: Menlo, Consolas, Monaco, "Courier New", Courier, monospace;}
/*	#c-c-reference fixes  */
#c-c-reference blockquote, #c-c-reference blockquote p { font-size: 1em; font-style: normal; color: #666; }
#c-c-reference blockquote {padding: 0 0 0 0; margin: 0 0 10px 14px;}
#c-c-reference blockquote p {font-size: 14px;}
#c-c-reference blockquote p:last-child{margin-bottom: 1.3em;}
#c-c-reference em {font-style: normal; font-weight: bold;color: #000;}
#c-c-reference .line-block {margin-bottom: 0;}

/* Link-o-matic
================================================== */
	a, a:visited { color: #1b378c; text-decoration: none; outline: 0;	-webkit-transition: opacity .2s linear;opacity: 1; }
	a:hover, a:focus { color: #1b378c; opacity: .8; }
	p a, p a:visited { line-height: inherit; }


/* Lists
================================================== */
	ul, ol { margin-bottom: 1.625em; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc, ul.simple { margin-left: 2em; }
	ul.square { list-style: square outside; }
	ul.circle, ul.simple { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: .2em 0 .3em 2em; font-size: .925em;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: .2em; }
	li { margin-bottom: 1em; }
	td.field-body ul.simple { list-style: none; margin-left: 0; }
	
	footer p.small.r .to_top {position: fixed;bottom: 10px;right: 20px;}
	
	#welcome-to-lassoguide {padding-left: 240px !important;}
	
	#welcome-to-lassoguide .toctree-wrapper {position: absolute;left: 0;top: 60px;}
	
	#welcome-to-lassoguide .toctree-wrapper ul, #appendices ul.simple { list-style: decimal inside inside; margin-left: 0;width: 220px;position: relative;}
	#appendices ul.simple {list-style: none;width: 600px;}
	#welcome-to-lassoguide .toctree-wrapper ul li, #appendices ul.simple li { padding: 10px; padding-left: 20px; margin: 0 20px 10px 0;background-color:#f7f7f7;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.2);*border-right-width:2px;*border-bottom-width:2px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;opacity:.925;filter:alpha(opacity=90);
	-webkit-transition: all 0.3s ease-out; 
	 -moz-transition: all 0.3s ease-out; 
	   -o-transition: all 0.3s ease-out; 
	      transition: all 0.3s ease-out; 
	} #appendices ul.simple li{float: left;margin-right: 20px;width:200px; }
	#welcome-to-lassoguide .toctree-wrapper ul li a, #appendices ul.simple li a {display: block;}
	#welcome-to-lassoguide .toctree-wrapper ul ul li {float: none;width: 100%;display: block;background: transparent;}
	#welcome-to-lassoguide .toctree-wrapper ul li:hover, #appendices ul.simple li:hover {-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#08c;color: #fff !important;}
	#welcome-to-lassoguide .toctree-wrapper ul li:hover a, #appendices ul.simple li:hover a {color: #fff;}
	#welcome-to-lassoguide .toctree-wrapper ul li:hover li a {color: #08c;}
	#welcome-to-lassoguide .toctree-wrapper ul li a {display: block;/* color: #fff; */}
	#welcome-to-lassoguide .toctree-wrapper ul ul li:hover a, #welcome-to-lassoguide .toctree-wrapper ul ul li a:hover {color: #fff !important;}
	
	#welcome-to-lassoguide .toctree-wrapper ul ul { display:none; }
	#welcome-to-lassoguide .toctree-wrapper ul ul,#welcome-to-lassoguide .toctree-wrapper ul ul li {width: 300px;}
	#welcome-to-lassoguide .toctree-wrapper ul ul li:hover {-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
	#welcome-to-lassoguide .toctree-wrapper ul ul li {color: #fff;border: 0;padding: 4px;margin: 0;width: 160px;float: left;}
	
	#appendices {clear: both;margin-top: 1em;}
	
	#welcome-to-lassoguide .toctree-wrapper ul ul {width: 208px !important;}
	#welcome-to-lassoguide .toctree-wrapper ul li:nth-child(2) ul {width: 624px !important;}
	#welcome-to-lassoguide .toctree-wrapper ul ul li {width: 200px !important;}
	
dl dt {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.2;
	}
tt.descname~em { white-space: nowrap; }
dl dd {
	margin: 0 0 10px 1em;
	font-size: 14px;
	line-height: 1.4;
	color: #666;
	}	
	
	
/* Tables
================================================== */
	
	table.docutils {width: 100%;margin: 1.3em 0;border-left: 1px solid #d4d4d4;border-right: 1px solid #ededed;
		box-shadow: rgba(0,0,0,.4) 0 2px 2px,rgba(0,0,0,.1) 0 2px 6px,rgba(0,0,0,.1) 0 2px 12px;
	}
	table.docutils caption {
		text-align: left; 
		padding:.625em; 
		padding-bottom: .825em;
		border: 1px solid rgba(0,0,0,.4);
		color: #000;
		background: #f7f7f7;
		text-shadow:rgba(255,255,255,.8) 0 1px 0;
		margin-bottom: -4px;
	}
	table.docutils td, table.docutils th {
		padding: .3em .425em;
		margin:0;
		border-top: 0px !important;
		border-top: 0px !important;
	}
		
	table.docutils td {vertical-align: text-top}
	table.docutils th {
		font-weight: bold;
		text-shadow: #fff 0 1px 0;
		background-image:-moz-linear-gradient(top,#ffffff,#d4d4d4);
		background-image:-ms-linear-gradient(top,#ffffff,#d4d4d4);
		background-image:-webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#d4d4d4));
		background-image:-webkit-linear-gradient(top,#ffffff,#d4d4d4);
		background-image:-o-linear-gradient(top,#ffffff,#d4d4d4);
		background-image:linear-gradient(top,#ffffff,#d4d4d4);
		background-repeat:repeat-x;
		border-top: 0px;
	}
	table.docutils tr.row-odd td {background: #fff;}
	table.docutils tr.row-even td {background: #efefef;}
	
	td.no-wrap {white-space: nowrap;}

/* Images
================================================== */

	img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
	svg:not(:root) { overflow: hidden; }
	figure { margin: 0; }
	
	img.scale-with-grid, img.swg {max-width: 100%;height: auto; }

	ol ol li, ol ul li { margin-bottom: .5em; }
	li { margin-bottom: 1em; }
	
	
/* Tables
================================================== */
	
	table.styled td {vertical-align: text-top}
	table.styled th {font-weight: bold;}
	table.styled td {padding:2px;margin:1px 0;border-top: 1px solid #000;border-bottom: 1px solid #ededed;}
	table.styled tr.odd td {background: #fff;}
	td.no-wrap {white-space: nowrap;}

/* Images
================================================== */

	img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
	svg:not(:root) { overflow: hidden; }
	figure { margin: 0; }
	
	img.scale-with-grid, img.swg {max-width: 100%;height: auto; }

/* Messaging
================================================== */

.error				{padding: .5em;margin:.5em 0;background-color: #FFE3E3;border: 1px solid #C30300;}
.attn				{padding: .5em;margin:.5em 0;background-color: #ffffe1;border: 1px solid #b3b3b3;}
.confirm			{padding: .5em;margin:.5em 0;background-color: #D9E021;border: 1px solid #8CC63F;}
.dialog, .dialogue	{padding: .5em;margin:.5em 0;background-color: #FAFAFA;border: 1px solid #E6E6E6;}

/* Buttons - Includes base jQuery Calandar UI Styles 

-- in comments
================================================== */
	
.button, button, input[type="submit"], input[type="reset"], input[type="button"], input[type="file"],  .button_grp .active {
	background-color: #fdfdfd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#cfcfcf));
	background-image: -webkit-linear-gradient(top, #fdfdfd, #cfcfcf);
	background-image:    -moz-linear-gradient(top, #fdfdfd, #cfcfcf);
	background-image:      -o-linear-gradient(top, #fdfdfd, #cfcfcf);
	background-image:         linear-gradient(to bottom, #fdfdfd, #cfcfcf);
	border: 1px solid #aaa;
	border-top: 1px solid #ededed;
	border-left: 1px solid #ededed;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	color: #4d4d4d;
	font-weight: normal;
	text-decoration: none;
	text-shadow: 0 1px rgba(255, 255, 255, .75);
	-o-box-shadow: inset rgba(255,255,255,.2) 0 0 2px;
	-moz-box-shadow: inset rgba(255,255,255,.2) 0 0 2px;
	-khtml-box-shadow: inset rgba(255,255,255,.2) 0 0 2px;
	-webkit-box-shadow:inset rgba(255,255,255,.2) 0 0 2px;
	box-shadow: inset rgba(255,255,255,.2) 0 0 2px;
	cursor: pointer;
	margin-top: 0;
	margin-right: 1.625em;
	margin-bottom: 1.625em;
	margin-left: 0;
	line-height: normal;
	padding: .625em; 
	display: block;
	position: relative;
	-webkit-transition: all 0.3s ease-out; 
	 -moz-transition: all 0.3s ease-out; 
	   -o-transition: all 0.3s ease-out; 
	      transition: all 0.3s ease-out; 
	}
h1#index {margin-bottom: 20px;}	
div.genindex-jumpbox {display: block;height: 26px;
	border-top: 1px solid #ededed;
	border-right: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	border-left: 1px solid #aaa;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: #fefefe;
	padding-top: 20px;
	margin-top: -20px;}
.genindex-jumpbox a {
	font-weight: normal;
	background-color: #fdfdfd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#cfcfcf));
	background-image: -webkit-linear-gradient(top, #fdfdfd, #cfcfcf);
	background-image:    -moz-linear-gradient(top, #fdfdfd, #cfcfcf);
	background-image:      -o-linear-gradient(top, #fdfdfd, #cfcfcf);
	background-image:         linear-gradient(to bottom, #fdfdfd, #cfcfcf);
	border: 1px solid #aaa;
	border-top: 1px solid #ededed;
	border-left: 1px solid #ededed;
	padding: 8px 8px 3px 8px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin-top: 10px;
	margin-left: 8px;}
h2 {margin-bottom: 5px;
}
table.genindextable {margin-bottom: 1em;}
.genindextable dt {padding: .325em 0;border-bottom: 1px solid #cfcfcf;display: block;width: 90%;}

.button,a.button,.button a:visited.button:visited,.button a,.button a:visited, .pager a:visited{color: #444;text-decoration: none;}

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover,  input[type="file"]:hover, .genindex-jumpbox a:hover
/*, .ui-state-default:hover, .ui-datepicker-next:hover, .ui-datepicker-prev:hover */{
	color: #1b378c;
	background-color: #efefef;
	background-image: none;
	-o-box-shadow: rgba(0,0,0,.4) 0 0 1px, inset rgba(255,255,255,.6) 0 0 2px;
	-moz-box-shadow: rgba(0,0,0,.4) 0 0 1px, inset rgba(255,255,255,.6) 0 0 2px;
	-webkit-box-shadow: rgba(0,0,0,.4) 0 0 1px, inset rgba(255,255,255,.6) 0 0 2px;
	-khtml-box-shadow: rgba(0,0,0,.4) 0 0 1px, inset rgba(255,255,255,.6) 0 0 2px;
	box-shadow: rgba(0,0,0,.4) 0 0 1px, inset rgba(255,255,255,.6) 0 0 2px;
	border: 1px solid #888;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa; }
	
.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, input[type="file"]:active,
.button_grp .active, .button_grp a.button:active, .button_grp a.button:focus, .genindex-jumpbox a:active
/*, .ui-state-active,.ui-state-active.ui-state-default, .ui-state-default:active, .ui-datepicker-next:active, .ui-datepicker-prev:active, .ui-state-default:focus, .ui-datepicker-next:focus, .ui-datepicker-prev:focus */ {
	color: #fff;
	text-shadow: #000 0 -1px 0;
	background-color: #1b378c;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1b378c), to(#7485b9));
	background-image: -webkit-linear-gradient(top, #1b378c, #7485b9);
	background-image:    -moz-linear-gradient(top, #1b378c, #7485b9);
	background-image:      -o-linear-gradient(top, #1b378c, #7485b9);
	background-image:         linear-gradient(to bottom, #1b378c, #7485b9);
	-o-box-shadow: inset rgba(0,0,0,.4) 0 0 1px, inset rgba(0,0,0,.2) 0 0 2px;
	-moz-box-shadow: inset rgba(0,0,0,.4) 0 0 1px, inset rgba(0,0,0,.2) 0 0 2px;
	-webkit-box-shadow: inset rgba(0,0,0,.4) 0 0 1px, inset rgba(0,0,0,.2) 0 0 2px;
	-khtml-box-shadow: inset rgba(0,0,0,.4) 0 0 1px, inset rgba(0,0,0,.2) 0 0 2px;
	box-shadow: inset rgba(0,0,0,.4) 0 0 1px, inset rgba(0,0,0,.2) 0 0 2px;
	border: 1px solid #7485b9;
	border-top: 1px solid #1b378c;
	border-left: 1px solid #1b378c;}
	
a.button:hover,a.button:focus,.button a:hover,.button a:focus{color: #222;}

.button.full-width, button.full-width, input[type="submit"].full-width, input[type="reset"].full-width, input[type="button"].full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center; }

ul.button_grp, ul.button_grp li {float: left;margin: 0;}
ul.button_grp .button,  ul.button_grp .active {
	margin: 0;
	-o-border-radius: 0;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;}
ul.button_grp .button {
	border-top: 1px solid #ededed;
	border-left: 1px solid #ededed;}

ul.button_grp .first .button { -o-border-bottom-left-radius: 6px; -o-border-top-left-radius: 6px; -khtml-border-bottom-left-radius: 6px; -khtml-border-top-left-radius: 6px; -moz-border-radius-bottomleft: 6px; -moz-border-radius-topleft: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; border-bottom-left-radius: 6px; }
ul.button_grp .last .button { -o-border-bottom-right-radius: 6px; -o-border-top-right-radius: 6px; -khtml-border-bottom-right-radius: 6px; -khtml-border-top-right-radius: 6px; -moz-border-radius-bottomright: 6px; -moz-border-radius-topright: 6px; -webkit-border-bottom-right-radius: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; border-bottom-right-radius: 6px; }

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,input::-moz-focus-inner {border: 0; padding: 0;}

/* self clearing nav */
nav ul:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }



/* #Forms
================================================== */

label { cursor: pointer;padding:.525em 0; }
form {margin-bottom: 1.625em;}
fieldset {margin-bottom: 1.625em; }

input[type="text"], input[type="password"],input[type="email"],textarea{
	padding:.625em 0;
	text-indent: 1.2625em;
	-o-box-shadow: inset rgba(0,0,0,.3) 0 0 1px, inset rgba(0,0,0,.2) 0 2px 6px;
	-moz-box-shadow: inset rgba(0,0,0,.3) 0 0 1px, inset rgba(0,0,0,.2) 0 2px 6px;
	-webkit-box-shadow: inset rgba(0,0,0,.3) 0 0 1px, inset rgba(0,0,0,.2) 0 2px 6px;
	-khtml-box-shadow: inset rgba(0,0,0,.3) 0 0 1px, inset rgba(0,0,0,.2) 0 2px 6px;
	box-shadow: inset rgba(0,0,0,.3) 0 0 1px, inset rgba(0,0,0,.2) 0 2px 6px;
}
input[type="text"],input[type="password"],input[type="email"],textarea,select {
	border: 1px solid #9b9b9b;
	outline: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #9b9b9b;
	margin: 0;
	width: 210px;
	max-width: 100%;
	display: block;
	margin-bottom: 1.625em;
	background: #fff;
	
	position: relative; }

select {padding: .25em 0; }

input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,textarea:focus {
	border: 1px solid #aaa;
	background: #effeff;
	color: #444;
	-o-box-shadow: 0 0 3px rgba(0,0,250,.6), 0 0 12px rgba(0,0,250,.2);
	-moz-box-shadow: 0 0 3px rgba(0,0,250,.6), 0 0 12px rgba(0,0,250,.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,250,.6), 0 0 12px rgba(0,0,250,.2);
	-khtml-box-shadow: 0 0 3px rgba(0,0,250,.6), 0 0 12px rgba(0,0,250,.2);
	box-shadow: 0 0 3px rgba(0,0,250,.6), 0 0 12px rgba(0,0,250,.2); 
}

input[type="text"].error,input[type="password"].error,input[type="email"].error,textarea.error {
	background-color: #FFE3E3;
	border: 1px solid #C30300;
	color: #C30300;
	-o-box-shadow: 0 0 3px rgba(250,0,0,.6), 0 0 12px rgba(250,0,0,.2);
	-moz-box-shadow: 0 0 3px rgba(250,0,0,.6), 0 0 12px rgba(250,0,0,.2);
	-webkit-box-shadow: 0 0 3px rgba(250,0,0,.6), 0 0 12px rgba(250,0,0,.2);
	-khtml-box-shadow: 0 0 3px rgba(250,0,0,.6), 0 0 12px rgba(250,0,0,.2);
	box-shadow: 0 0 3px rgba(250,0,0,.6), 0 0 12px rgba(250,0,0,.2); 
}

textarea { min-height: 6em; }
label, legend { display: block; font-weight: normal; }
legend {font-weight: bold;padding-bottom: .5em;}
select { width: 220px; }
input[type="checkbox"] { display: inline; }
label span, legend span { font-weight: normal; color: #444; }

/* Search Form */

input[type="text"]#s {
float: right;
	margin-bottom: 0;
	padding: 6px 0;
    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease;
    width: 80px;
    border: transparent;
    background-color: #e2f2fb;
    color: #d4d4d4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

input:focus::-webkit-input-placeholder, input#s:focus::-webkit-input-placeholder{ color: #000;}

input[type="text"]#s:focus, input[type="search"]:focus, input[type="text"]#s:focus -webkit-input-placeholder {
    background-color: #ffffff;
    color: #000;
    width: 200px;
	-o-box-shadow: 0 0 3px rgba(255,255,255,.6), 0 0 12px rgba(255,255,255,.2);
	-moz-box-shadow: 0 0 3px rgba(255,255,255,.6), 0 0 12px rgba(255,255,255,.2);
	-webkit-box-shadow: 0 0 3px rgba(255,255,255,.6), 0 0 12px rgba(255,255,255,.2);
	-khtml-box-shadow: 0 0 3px rgba(255,255,255,.6), 0 0 12px rgba(255,255,255,.2);
	box-shadow: 0 0 3px rgba(255,255,255,.6), 0 0 12px rgba(255,255,255,.2); 
}



/* Helper Rules

Class Name						Shorthand			Styles
==================================================================================== */
.absolute,						.a					{ position: absolute; }
.fixed,							.f					{ position: fixed; }
.left, .pull-left,				.l					{ float:left; }
.right, .pull-right,			.r					{ float:right !important; }
.align_left,					.al					{ text-align:left; }
.align_right,					.ar					{ text-align: right; }
.align_center,					.ac					{ text-align: center; }
.align_just,					.aj					{ text-align: justify; }
.remove_margin_top,				.rmt				{ margin-top: 0 !important; }
.half_margin_top,				.hmt				{ margin-top: .5em !important; }
.margin_top,					.mt					{ margin-top: 1em !important; }
.double_margin_top,				.dmt				{ margin-top: 2em !important; }
.half_margin_left,				.hml				{ margin-left: .5em !important; }
.margin_left,					.ml					{ margin-left: 1em !important; }
.double_margin_left,			.dml				{ margin-left: 2em !important; }
.remove_margin_bottom,			.rmb 				{ margin-bottom: 0 !important; }
.half_margin_bottom,			.hmb 				{ margin-bottom: .5em !important; }
.margin_bottom,					.mb 				{ margin-bottom: 1em !important; }
.double_margin_bottom,			.dmb 				{ margin-bottom: 2em !important; }
.half_margin_right,				.hmr 				{ margin-right: .5em !important; }
.margin_right,					.mr 				{ margin-right: 1em !important; }
.double_margin_right,			.dmr 				{ margin-right: 2em !important; }
.inset,							.pd  				{ padding: 1em !important; }
.pad_top,						.pt  				{ padding-top: 1em !important; }
.double_pad_top,				.dpt  				{ padding-top: 2em !important; }
.pad_left,						.pl  				{ padding-left: 1em !important; }
.double_pad_left,				.dpl  				{ padding-left: 2em !important; }
.pad_bottom,					.pb  				{ padding-bottom: 1em !important; }
.double_pad_bottom,				.dpb  				{ padding-bottom: 2em !important; } 
.pad_right,						.pr  				{ padding-right: 1em !important; }
.double_pad_right,				.dpr  				{ padding-right: 2em !important; } 
.rule_above,					.ra					{ border-top:1px solid #ececec; }
.double_rule_above,				.dra				{ border-top:3px double #ececec; }
.rule_below,					.rb					{ border-bottom:1px solid #ececec; }
.double_rule_below,				.drb				{ border-bottom:3px double #ececec; }
.hide, .hfp, .print-only, .assistive-text			{ display: none !important; }
.full							.f					{ width: 100%; }
.meta												{ color: #a9a9a9; 	}


/* The Grid ala 960.gs
================================================== */

.container                              { position: relative; width: 960px; margin: 0 auto; padding: 0; }
.container .col                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
.row                                    { margin-bottom: 0; }

/* Nested col Classes */
.col.first        					    { margin-left: 0; }
.col.last               				{ margin-right: 0; }

/* Base Grid */
.container .one.col,				.container table th.one,				.container table td.one					{ width: 40px;  }
.container .two.col,				.container table th.two,				.container table td.two					{ width: 100px; }
.container .three.col,				.container table th.three,				.container table td.three				{ width: 160px; }
.container .four.col,				.container table th.four,				.container table td.four				{ width: 220px; }
.container .five.col,				.container table th.five,				.container table td.five				{ width: 280px; }
.container .six.col,				.container table th.six,				.container table td.six					{ width: 340px; }
.container .seven.col,				.container table th.seven,				.container table td.seven				{ width: 400px; }
.container .eight.col,				.container table th.eight,				.container table td.eight				{ width: 460px; }
.container .nine.col,				.container table th.nine,				.container table td.nine				{ width: 520px; }
.container .ten.col,				.container table th.ten,				.container table td.ten					{ width: 580px; }
.container .eleven.col,				.container table th.eleven,				.container table td.eleven				{ width: 640px; }
.container .twelve.col,				.container table th.twelve,				.container table td.twelve				{ width: 700px; }
.container .thirteen.col,			.container table th.thirteen,			.container table td.thirteen			{ width: 760px; }
.container .fourteen.col,			.container table th.fourteen,			.container table td.fourteen			{ width: 820px; }
.container .fifteen.col,			.container table th.fifteen,			.container table td.fifteen				{ width: 880px; }
.container .sixteen.col,			.container table th.sixteen,			.container table td.sixteen				{ width: 940px; }

.container .one-third.col			.container table th.one-third,			.container table td.one-third			{ width: 300px; }
.container .two-thirds.col			.container table th.two-thirds,			.container table td.two-thirds			{ width: 620px; }

/* Offsets */
.container .push_one                   { padding-left: 60px;  }
.container .push_two                   { padding-left: 120px; }
.container .push_three                 { padding-left: 180px; }
.container .push_four                  { padding-left: 240px; }
.container .push_five                  { padding-left: 300px; }
.container .push_six                   { padding-left: 360px; }
.container .push_seven                 { padding-left: 420px; }
.container .push_eight                 { padding-left: 480px; }
.container .push_nine                  { padding-left: 540px; }
.container .push_ten                   { padding-left: 600px; }
.container .push_eleven                { padding-left: 660px; }
.container .push_twelve                { padding-left: 720px; }
.container .push_thirteen              { padding-left: 780px; }
.container .push_fourteen              { padding-left: 840px; }
.container .push_fifteen               { padding-left: 900px; }


    
    .container .one-quarter.col { width: 20%; margin-left:5px;margin-right:5px; }
    .container .half.col { width: 205px; margin-left:5px;margin-right:5px; }
    .container .three-quarters.col  { width: 312.5px; margin-left:5px;margin-right:5px; }

/* #Tablet (Portrait)Design for a width of 768px
================================================== */

@media only screen and (min-width: 768px) and (max-width: 959px) {

    .container								{ width: 768px; }
    .container .col                         { margin-left: 10px; margin-right: 10px;  }
    .col.first								{ margin-left: 0; margin-right: 10px; }
    .col.last								{ margin-right: 0; margin-left: 10px; }
    .first.last								{ margin-left: 0; margin-right: 0; }

    .container .one.col                     { width: 28px; }
    .container .two.col                     { width: 76px; }
    .container .three.col                   { width: 124px; }
    .container .four.col                    { width: 172px; }
    .container .five.col                    { width: 220px; }
    .container .six.col                     { width: 268px; }
    .container .seven.col                   { width: 316px; }
    .container .eight.col                   { width: 364px; }
    .container .nine.col                    { width: 412px; }
    .container .ten.col                     { width: 460px; }
    .container .eleven.col                  { width: 508px; }
    .container .twelve.col                  { width: 556px; }
    .container .thirteen.col                { width: 604px; }
    .container .fourteen.col                { width: 652px; }
    .container .fifteen.col                 { width: 700px; }
    .container .sixteen.col                 { width: 748px; }

    .container .one-third.col                { width: 236px; }
    .container .two-thirds.col               { width: 492px; }

    /* Offsets */
    .container .push_one                   { padding-left: 48px; }
    .container .push_two                   { padding-left: 96px; }
    .container .push_three                 { padding-left: 144px; }
    .container .push_four                  { padding-left: 192px; }
    .container .push_five                  { padding-left: 240px; }
    .container .push_six                   { padding-left: 288px; }
    .container .push_seven                 { padding-left: 336px; }
    .container .push_eight                 { padding-left: 384px; }
    .container .push_nine                  { padding-left: 432px; }
    .container .push_ten                   { padding-left: 480px; }
    .container .push_eleven                { padding-left: 528px; }
    .container .push_twelve                { padding-left: 576px; }
    .container .push_thirteen              { padding-left: 624px; }
    .container .push_fourteen              { padding-left: 672px; }
    .container .push_fifteen               { padding-left: 720px; }
}


/*  #Mobile (Portrait) Note: Design for a width of 320px
================================================== */

@media only screen and (max-width: 767px) {
	#welcome-to-lassoguide {padding-left: 20px !important;}
	#appendices ul.simple {width: 220px;}

.source-link {position: absolute;top: 4px;right: 4px;}
    .container { width: 300px; }
    .container .col { margin: 0; }

    .container .one.col,
    .container .two.col,
    .container .three.col,
    .container .four.col,
    .container .five.col,
    .container .six.col,
    .container .seven.col,
    .container .eight.col,
    .container .nine.col,
    .container .ten.col,
    .container .eleven.col,
    .container .twelve.col,
    .container .thirteen.col,
    .container .fourteen.col,
    .container .fifteen.col,
    .container .sixteen.col,
    .container .one-third.col,
    .container .two-thirds.col  { width: 300px; }

    /* Offsets */
    .container .push_one,
    .container .push_two,
    .container .push_three,
    .container .push_four,
    .container .push_five,
    .container .push_six,
    .container .push_seven,
    .container .push_eight,
    .container .push_nine,
    .container .push_ten,
    .container .push_eleven,
    .container .push_twelve,
    .container .push_thirteen,
    .container .push_fourteen,
    .container .push_fifteen { padding-left: 0; }
    .fixed{position: relative !important;}

}


/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container { width: 420px; }
    .container .col { margin: 0; }
    .container .one.col,
    .container .two.col,
    .container .three.col,
    .container .four.col,
    .container .five.col,
    .container .six.col,
    .container .seven.col,
    .container .eight.col,
    .container .nine.col,
    .container .ten.col,
    .container .eleven.col,
    .container .twelve.col,
    .container .thirteen.col,
    .container .fourteen.col,
    .container .fifteen.col,
    .container .sixteen.col,
    .container .one_third.col,
    .container .two_thirds.col { width: 420px; }
    .fixed{position: relative !important;}
}


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested col,
    or wrap each row of col in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .cfx:before,
    .cfx:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after,
    .cfx:after {
      clear: both; }
    .row, .cfx,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear col */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }


/* #Tooltip CSS
================================================== */
.icon.tooltip{}
.tooltip {display:inline;position:relative;}
.tooltip:hover {text-decoration:none;}
.tooltip:hover:after {
	text-indent: 0;
	top:40px;
	display:block;
	min-width: 50px;
	color: #333;
	font-size: 11px;
	text-shadow: #fff 0 1px 0;
	content:attr(title);
	left: -25%;
	padding:.3em 1em;
	position:absolute;
	white-space:nowrap;
	z-index:300;
	background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.2);*border-right-width:2px;*border-bottom-width:2px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);box-shadow:0 5px 10px rgba(0,0,0,0.2);-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;opacity:.925;filter:alpha(opacity=90);-webkit-transform: translate3d(0,0,0);

}
.tooltip:hover:before{
 	border:solid;
 	border-color:#fefefe transparent;
 	border-width: 0 6px 7px 6px;
 	top:34px;
 	content:"";
 	display:block;
 	left:50%;
 	position:absolute;	
 	z-index:301;
 	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);box-shadow:0 5px 10px rgba(0,0,0,0.2);-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;opacity:.825;filter:alpha(opacity=80);-webkit-transform: translate3d(0,0,0);
}

/*****

Begin LassoGuide CSS 

*/

.nav>li>a{display:block}
.nav li.dropdown.open .caret,.nav li.dropdown.open.active .caret,.nav li.dropdown.open a:hover .caret{border-top-color:#fff;border-bottom-color:#fff;opacity:1;filter:alpha(opacity=100)}
.navbar .brand,.navbar .brand:hover{text-decoration:none;}
.navbar .brand{display:block;float:left;padding:11px 12px;margin-left:-20px;font-size:18px;font-weight:200;line-height:1;color:#fff;text-shadow: rgba(0,0,0,.6) 0 -1px 1px;
	-webkit-transition: all 0.3s ease-out; 
	 -moz-transition: all 0.3s ease-out; 
	   -o-transition: all 0.3s ease-out; 
	      transition: all 0.3s ease-out; 
}
.navbar .brand:hover {text-shadow: rgba(255,255,255,.6) 0 0 2px;}

.navbar .navbar-text{margin-bottom:0;line-height:40px;padding-top: 1px;}
.navbar-form .input-append input,.navbar-form .input-prepend input{margin-top:0}
.navbar-search{position:absolute;right:0;top:6px;margin-bottom:0;margin-right: 40px;}
.navbar-search .search-query{padding:4px 9px;font-family:"Helvetica Neue Light",Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:1;color:#fff;background-color:#626262;border:1px solid #151515;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15);box-shadow:inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15);-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none}
.navbar-search .search-query:-moz-placeholder{color:#0077bb}
.navbar-search .search-query::-webkit-input-placeholder{color:#0077bb}
.navbar-search .search-query:focus,.navbar-search .search-query.focused{padding:5px 10px;color:#333;text-shadow:0 1px 0 #fff;background-color:#fff;border:0;outline:0;-webkit-box-shadow:0 0 3px rgba(0,0,0,0.15);-moz-box-shadow:0 0 3px rgba(0,0,0,0.15);box-shadow:0 0 3px rgba(0,0,0,0.15)}
.navbar-fixed-top,.navbar-fixed-bottom{right:0;left:0;z-index:1030;margin-bottom:0}
.navbar-fixed-top .navbar-inner,.navbar-fixed-bottom .navbar-inner{padding-right:0;padding-left:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
/*.navbar-fixed-top .container,.navbar-fixed-bottom .container{width:940px}*/
.navbar-fixed-top{top:0}
.navbar-fixed-bottom{bottom:0}
.navbar .nav{position:relative;left:0;display:block;float:left;margin:0 10px 0 0}
.navbar .nav.pull-right{float:right}
.navbar .nav>li{display:block;float:left;margin-bottom: 0 !important;}
.navbar .nav>li>a{float:none;padding:.815em .5em .865em; line-height:19px;color:#ffffff;text-decoration:none;text-shadow:0 -1px 0 rgba(0,0,0,0.5);opacity: .6;filter:alpha(opacity=60);
 
}
.navbar .btn{display:inline-block;padding:4px 10px 4px;margin:5px 5px 6px;line-height:1.3}
.navbar .btn-group{padding:5px 5px 6px;margin:0}
.navbar .nav>li>a:hover{color:#fff;text-decoration:none;background-color:transparent;opacity: 1;filter:alpha(opacity=100);-webkit-transition:opacity .3s linear;-moz-transition:opacity .3s linear;-ms-transition:opacity .3s linear;-o-transition:none;transition:opacity .3s linear;}
.navbar .nav .active>a,.navbar .nav .active>a:hover{color:#fff;text-decoration:none;background-color:#222}
.navbar .nav.pull-right{margin-right:0;margin-left:10px}


.navbar .dropdown-menu:before{position:absolute;top:-7px;left:9px;display:inline-block;border-right:7px solid transparent;border-bottom:7px solid #ccc;border-left:7px solid transparent;border-bottom-color:rgba(0,0,0,0.2);content:''}
.navbar .dropdown-menu:after{position:absolute;top:-6px;left:10px;display:inline-block;border-right:6px solid transparent;border-bottom:6px solid #fff;border-left:6px solid transparent;content:''}

.navbar .nav li.dropdown .dropdown-toggle .caret,.navbar .nav li.dropdown.open .caret{border-top-color:#fff;border-bottom-color:#fff}
.navbar .nav li.dropdown.active .caret{opacity:1;filter:alpha(opacity=100)}
.navbar .nav li.dropdown.open>.dropdown-toggle,.navbar .nav li.dropdown.active>.dropdown-toggle,.navbar .nav li.dropdown.open.active>.dropdown-toggle{background-color:transparent}
.navbar .nav li.dropdown.active>.dropdown-toggle:hover{color:#fff;text-shadow: rgba(255,255,255,.6) 0 -1px 0, rgba(255,255,255,.4) 0 0 1px;}
.navbar .right .dropdown-menu,.navbar .dropdown-menu.pull-right{right:0;left:auto}
.navbar .right .dropdown-menu:before,.navbar .dropdown-menu.pull-right:before{right:12px;left:auto}
.navbar .right .dropdown-menu:after,.navbar .dropdown-menu.pull-right:after{right:13px;left:auto}

#buttonlinks {/* position: absolute;top: 3px;margin-left: 575px;width: 260px; */
height: 30px;padding-top: 3px;}
 
.source_button, .source_button:visited {
	margin-bottom: 0;
	margin-left: 10px;
	top: 8px;
	background-color:#3bb3e0;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	line-height: 12px;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:6px 10px;
	padding-right:40px;
	white-space: nowrap;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 3px 0px 0px #003e69;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 3px 0px 0px #003e69;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 3px 0px 0px #003e69;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 3px 0px 0px #003e69;
	opacity:.8;filter:alpha(opacity=80);
	-webkit-transition:opacity .2s linear,top .1s ease-out;-moz-transition:opacity .2s linear,top .1s ease-out;-ms-transition:opacity .2s linear,top .1s ease-out;-o-transition:opacity .2s linear,top .1s ease-out;transition:opacity .2s linear,top .1s ease-out;
}

.source_button:hover {color: #fff; opacity:1;filter:alpha(opacity=100);}

.source_button:active {
	color: #fff;
	top:9px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #3bb3e0, 0px -1px 0px 0px #003e69;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #3bb3e0, 0px -1px 0px 0px #003e69;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #3bb3e0, 0px -1px 0px 0px #003e69;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #3bb3e0, 0px -1px 0px 0px #003e69;
}


.source_button::before {
	background-color:#005583;
	background-image:url(img/source.png);
	background-repeat:no-repeat;
	background-position:center center;
	content:"";
	width:20px;
	height:20px;
	position:absolute;
	right:10px;
	top:50%;
	margin-top:-10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-moz-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-o-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
}
.source_button.comment::before {
	background-image:url(img/comment.png);
	}
.source_button:active::before {
	top:50%;
	margin-top:-13px;
	-webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 4px 3px #1a80a6, inset 0px 0px 1px rgba(255,255,255,.6);
	-moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 4px 3px #1a80a6, inset 0px 0px 1px rgba(255,255,255,.6);
	-o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 4px 3px #1a80a6, inset 0px 0px 1px rgba(255,255,255,.6);
	box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 4px 3px #1a80a6, inset 0px 0px 1px rgba(255,255,255,.6);
}


button.reset_button, button.search_button {
	position: absolute;
	margin-bottom: 0;
	background:transparent;
	background-image:url(img/sprite.png);
	background-repeat:no-repeat;
	background-position:-105px 2px;
	width:24px;
	height:24px;
	right:-43px;
	margin-top:-1px;
	margin-left: 6px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	opacity:.6;filter:alpha(opacity=60);
}
button.search_button { right: -16px;background-position:-160px -20px;}

button.reset_button:hover, button.search_button:hover {opacity:1;filter:alpha(opacity=100);}
 
button.reset_button:active, button.search_button:active {
	top:2px;
	-webkit-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-moz-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-o-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;}
	
.dropup,.dropdown{position:relative;margin-left: 0;}
.dropdown-toggle{*margin-bottom:-3px}
.dropdown-toggle:active,.open .dropdown-toggle{outline:0}
.caret{display:inline-block;width:0;height:0;vertical-align:top;border-top:4px solid #000;border-right:4px solid transparent;border-left:4px solid transparent;content:"";opacity:.6;filter:alpha(opacity=60)}

.east{display:inline-block;width:0;height:0;vertical-align:top;border-right:6px solid #fff;border-top:3px solid transparent;border-bottom:3px solid transparent;content:"";
	-webkit-box-shadow:  inset 0px 1px 0px #000;
	-moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	box-shadow: inset 0px 1px 0px #000;opacity:.8;filter:alpha(opacity=80);}
.west{display:inline-block;width:0;height:0;vertical-align:top;border-left:6px solid #fff;border-top:3px solid transparent;border-bottom:3px solid transparent;content:"";opacity:.8;filter:alpha(opacity=80);}

.dropdown .caret{margin-top:8px;margin-left:2px}
.dropdown:hover .caret,.open .caret{}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:4px 0;margin:1px 0 0 0;list-style:none;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.2);*border-right-width:2px;*border-bottom-width:2px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);box-shadow:0 5px 10px rgba(0,0,0,0.2);-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;opacity:.925;filter:alpha(opacity=90);
	
}
.dropdown-menu.pull-right{right:0;left:auto} .dropdown-menu ul{margin-left: 0;}
.dropdown-menu .divider{*width:100%;height:1px;margin:8px 1px;*margin:-5px 0 5px;overflow:hidden;background-color:#e5e5e5;border-bottom:1px solid #fff}
.dropdown-menu a{display:block;padding:3px 15px;clear:both;font-weight:normal;line-height:1.3;color:#333;white-space:nowrap}
.dropdown-menu li>a:hover,.dropdown-menu .active>a,.dropdown-menu .active>a:hover{color:#fff;text-decoration:none;background-color:#08c}
.open{*z-index:1000}
.open .dropdown-menu{
	display:block;
	-webkit-transition:opacity .2s linear,top .1s ease-out;
	-moz-transition:opacity .2s linear,top .1s ease-out;
	-ms-transition:opacity .2s linear,top .1s ease-out;
	-o-transition:opacity .2s linear,top .1s ease-out;
	transition:opacity .2s linear,top .1s ease-out;
}
.dropdown-menu li li {padding-left: 1em;}
.pull-right .dropdown-menu{right:0;left:auto}
.dropup .caret,.navbar-fixed-bottom .dropdown .caret{border-top:0;border-bottom:4px solid #000;content:"\2191"}
.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu{top:auto;bottom:100%;margin-bottom:1px}

.navbar{*position:relative;*z-index:2;margin-bottom:18px;overflow:visible;}

.navbar-inner{
	min-height:42px;
	padding-right:20px;
	padding-left:20px;
	background-color:#0080c6;
	background-image:-moz-linear-gradient(top,#0080c6,#005583);
	background-image:-ms-linear-gradient(top,#0080c6,#005583);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#0080c6),to(#005583));
	background-image:-webkit-linear-gradient(top,#0080c6,#005583);
	background-image:-o-linear-gradient(top,#0080c6,#005583);
	background-image:linear-gradient(top,#0080c6,#005583);
	background-repeat:repeat-x;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#0080c6',endColorstr='#005583',GradientType=0);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 0 2px rgba(255,255,255,.4),inset 0 -1px 0 rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,.4);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,.4);
	box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 0 2px rgba(255,255,255,.4),inset 0 -1px 0 rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,.4);
	border-top: 1px solid #005583;
	border-bottom: 1px solid #003e69;
}


.navbar .divider-vertical{width:1px;height:40px;margin:0 .815em;overflow:hidden;background-color:#0080c6;border-right:1px solid #005583}

.navbar .nav > li > a.source_button {line-height: 12px;padding:8px 40px 8px 10px;}
.navbar .nav > li .east {margin-top: 7px;margin-right: 3px;}
.navbar .nav > li .west {margin-top: 7px;margin-left: 3px;}
.navbar .nav > li:hover .east, .navbar .nav > li:hover .west {opacity:1;filter:alpha(opacity=100);}
.container-fluid {padding: 0 1.625em;}
.navbar-inner {font-size: .925em; color: #ffffff;}

a.brand:before, a.site:before, a.page:before, .to_top{
   content:"";
   float:left;
   width:20px;
   height:20px;
   margin:0 5px 0 0;
   background:url(img/sprite.png);
   background-repeat: no-repeat;
   }
   
a.brand:before {
   width:40px;
   height:22px;
   margin-top:-4px;
   background-position:0 0;

}

a.site:before {background-position:-75px 0;}
a.page:before {background-position:-135px 0;}
a.headerlink {padding: 0 5px;}

.to_top{display:block;height:33px;background-position:-455px 0; -webkit-transform: translate3d(0,0,0);}

/* Multicolumns - hide from small browsers
================================================== */

@media only screen and (min-width: 768px) {
	#maincontent .section {padding: 10px 15px 40px 10px;}
	footer.footer .section {padding: 10px;}
	
	
	#lasso-language-guide, #lasso-operations-guide, #lasso-databases-guide, #lasso-server-guide, #lasso-api-guide {
		-webkit-column-count: 2;
		-webkit-column-gap: 20px; 
		-webkit-column-rule: 0px dotted black;
		column-count: 2;
		column-gap: 20px; 
		column-rule: 0px dotted black;
		padding-bottom: 40px;
	}
	
	#lasso-operations-guide {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;}
	#lasso-databases-guide {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;}
	#lasso-server-guide {}
	#lasso-api-guide {}
	
	h1, #lasso-api-guide h1, #lasso-language-guide p {
		-webkit-column-span:all;
		   -moz-column-span:all;
		    column-span:all;
	}
	#lasso-language-guide p.rubric {
		-webkit-column-span:1;
		-moz-column-count: 1;
	    column-span:1;
	}
	
	#lasso-language-guide  .toctree-wrapper {
		
		-moz-column-count: 2;
		-moz-column-gap: 20px;  
		-moz-column-rule: 0px dotted black;
	}
	#lasso-operations-guide h1 {
	-webkit-column-span:all;
	   -moz-column-span:2;
	    column-span:all;}
	
	#lasso-language-guide .toctree-wrapper,
	#lasso-operations-guide .toctree-wrapper,
	#lasso-databases-guide .toctree-wrapper ul,
	#lasso-server-guide .toctree-wrapper,
	#lasso-api-guide .toctree-wrapper {
		-webkit-column-break-after: always;
		   -moz-column-break-after:always;
		       column-break-after:always;
		
	}
	#lasso-databases-guide .toctree-wrapper ul:first-child  {padding-top: 1em;}/* shimming height on first elements to offset column reflow */
	#lasso-api-guide p + p {padding-top: 50px;}/* shimming height on last element */
  
}  

/* #Tablet (Portrait)Design for a width of 768px
================================================== */

@media only screen and (min-width: 768px) and (max-width: 959px), only screen and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
	#buttonlinks {position: absolute; top:45px;right:5px;margin-left: 0;}
}


/* #Tablet (Landscape)Design for a width of 960px
================================================== */

@media only screen and (min-width: 959px) and (max-width: 1024px) {
	#buttonlinks {top:45px;left:0;right: 5px; margin-left: 0;}
}

/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.navbar .nav{position:absolute;left:0;right:0;top:26px;margin:0 10px 0 0}
	.navbar .brand {margin-left: 0;}
	
	#welcome-to-lassoguide h1, #welcome-to-lassoguide p, #appendices {padding-left: 0;}
	
	#welcome-to-lassoguide .toctree-wrapper {position: relative;top:0;}
	


}

@media only screen and (max-width: 767px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {

.container {width: 100%;}

.container .col	{ display: inline; float: left;	margin-left: 1%; margin-right: 1%; }
.container .col.first								{ margin-left: 0 !important;}
.container .col.last								{ margin-right:  0 !important;}

.container .col_1, .col.one {	width: 4.25%;}
.container .col_2, .col.two{	width: 10.5%;}
.container .col_3, .col.three{	width: 16.75%;}
.container .col_4, .col.four{	width: 23%;}
.container .col_5, .col.five{	width: 29.25%;}
.container .col_6, .col.six{	width: 35.5%;}
.container .col_7, .col.seven{	width: 41.75%;}
.container .col_8, .col.eight{	width: 48%;}
.container .col_9, .col.nine{	width: 54.25%;}
.container .col_10, .col.ten{	width: 60.5%;}
.container .col_11, .col.eleven{	width: 66.75%;}
.container .col_12, .col.twelve	{	width: 73%;}
.container .col_13, .col.thirteen	{	width: 79.25%;}
.container .col_14, .col.fourteen {	width: 85.5%;}
.container .col_15, .col.fifteen	{	width: 91.75%;}
.container .col_16, .col.sixteen{	width: 98%;}

input.col.one {width: 30px;text-indent: 8px;}

	.navbar .brand {margin-left: 0;}
	}
	

/* iPhone */

@media only screen and (max-width: 767px), only screen and (-webkit-min-device-pixel-ratio: 1) and (min-device-width: 320px) and (max-device-width: 480px), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 320px) and (max-device-width: 480px){


h1 { font-size: 2em;}
h2 { font-size: 1.8em;}

#maincontent {padding:0;padding-top: 10px;}
#maincontent .section {padding: 0 20px 20px 10px;}
.navbar, .navbar-inner {height: inherit;}
.navbar .nav {margin: 0;margin-top: -3px;width: 100%; background: rgba(0,0,0,.6);}
.navbar .nav li.divider-vertical {display: none;}
.navbar .nav > li {margin-bottom: 0;}
.navbar .nav > li > a.source_button {position: absolute;top:-34px;right:14px;}

#maincontent 
	{padding-top:40px;}
	
	.navbar-search.right {display: none;}

	.genindex-jumpbox {position: absolute;z-index: 5000;
	top:5px;left:0;right:0;padding: 0;margin: 0;
	border: 0;
	border-top: 0;
	border-left: 0;
	-o-border-radius: 0;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius:0;
	border-radius: 0;}
.genindex-jumpbox a {
	padding: 3px 4px 0 4px;
	margin-right: 0;
	margin-left: 0;
	margin-right: 0;
	margin-left: 0;
	-o-border-radius: 0;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;}

	#buttonlinks {display: none;}

	.navbar .nav{position:absolute;left:0;right:0;top:40px;margin:0}
	.navbar .brand {margin-left: 0;}
	
	#welcome-to-lassoguide h1, #welcome-to-lassoguide p, #appendices {padding-left: 0;}
	
	#welcome-to-lassoguide .toctree-wrapper {position: relative;top:0;}

}


/* Generated by Font Squirrel (http://www.fontsquirrel.com) on October 22, 2013 */

@font-face {
    font-family: 'source_sans_pro';
    src: url('sourcesanspro-regular-webfont.eot');
    src: url('sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-regular-webfont.woff') format('woff'),
         url('sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans_pro';
    src: url('sourcesanspro-bold-webfont.eot');
    src: url('sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-bold-webfont.woff') format('woff'),
         url('sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans_pro';
    src: url('sourcesanspro-italic-webfont.eot');
    src: url('sourcesanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-italic-webfont.woff') format('woff'),
         url('sourcesanspro-italic-webfont.ttf') format('truetype'),
         url('sourcesanspro-italic-webfont.svg#source_sans_proitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'source_sans_pro';
    src: url('sourcesanspro-semibolditalic-webfont.eot');
    src: url('sourcesanspro-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-semibolditalic-webfont.woff') format('woff'),
         url('sourcesanspro-semibolditalic-webfont.ttf') format('truetype'),
         url('sourcesanspro-semibolditalic-webfont.svg#source_sans_proSBdIt') format('svg');
    font-weight: bold;
    font-style: italic;
}
